@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
main{
    padding: 100px 38px;
}
.h1{
    text-align: center;
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #fca311ff;
    text-transform: capitalize;
}   
.content1{
    height: 850px;
}
.about{
    float: left;
    width: 650px;
    height: 300px;
    margin: 50px 35px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 2px 2px #ddd;
}
.about .member{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    opacity: .9;
    margin-top: 50px;
    margin: 50px 15px;
    animation: rotate ease 2s;
}
.member:active{
    width: 300px;
    height: 300px;
}
.about h1{
    font-size: 25px;
    margin-top: 42px;
    margin-left: 230px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    width: 165px;
    color: #fca311ff;
}
.about p{
    padding-bottom: 15px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: justify;
    margin-top: 85px;
    margin-left: 231px;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 150%;
}
.about img{
background-color: rgb(26, 26, 26);
border-radius: 10%;
height: 30px;
width: 30px;
margin-right: 10px;
}
.about .links0{
    margin: 65px 232px;
    width: 400px;
    position: relative;
    top: 182px;
}
/*****************/
@keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    form{height: 15px;}
    to{height: 30px;}
    form{width: 15px;}
    to{width: 30px;}
}
@keyframes  slide {
    from {padding-left: 250px;}
    to {padding-left:0px;}
    from {left: 180px;}
    to {left: 0px;}
    from{width: 220px;}
    to{width: 20px;}
    from{border-radius: 0px;}
    to{border-radius: 100%;}
}
.hName{
    position: absolute;
    z-index: 0;
}
.pDisc{
    position: absolute;
    z-index: 0;
}
.imgDiv {
    animation: slide ease 3s;
    position: relative;
    float: left;
    background-color: #f5f5f5;
    width: 220px;
    left: 0px;
    z-index: 1;
}
.about:hover{
    transform: scale(1.1);
}
