/* header */

body {
    /* font-family: cursive; */
    background-repeat: no-repeat;
    /* background-size: 300px 300px; */
    /* background-image: url(https://media.istockphoto.com/vectors/books-sketch-seamless-vector-id594484448?k=6&m=594484448&s=612x612&w=0&h=a67hFSIILzjjuDuTfNrqDnoRRwEhe2rGkgEvV_js80k=); */
    /* background-image: url(https://render.fineartamerica.com/images/rendered/default/poster/8/8/break/images/artworkimages/medium/1/seamless-book-pattern-background-wallpaper-diego-schtutman.jpg); */
    /* opacity: 0.01; */
    /* background-image: url(); */
}
main{
    width: 95%;
    margin: 0 auto;
    

}

#headerDetail {
    box-shadow: 1px 1px 5px 0px;
    width: 100%;
}

#headerDetail nav {
    background-color: #14213dff;
    width: 100%;
    overflow: hidden;
}

#headerDetail img {
    float: left;
    display: block;
    margin: 10px;
    width: 70px;
    height: 70px;

}

#headerDetail h1 {
    float: left;
    margin: 28px;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: honeydew;

}

#headerDetail input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 30px;
    margin-right: 16px;
    font-size: 17px;
    /* box-shadow: 0 0 10px black; */
}

#link {
    float: right;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-right: 20px;
    text-decoration: none;
    /* text-shadow: 0 0 5px black; */
    color: honeydew;
    font-weight: bolder;

}

#headerDetail a:hover {
    color: white;
    background-color: orange;
    color: #14213dff;
    border-radius: 5px;


}

#choosed {
    overflow: hidden;
    margin: 40px 0 40px 40px;
    /* width: 90%; */
}

#choosed img {

    margin: 20px 0 20px 0px;
    float: left;
    border: solid gray;
    background-color: rgb(179, 179, 179);
    border-radius: 3%;
    box-shadow: 1px 1px 5px 0px rgba(117, 117, 117, 1);
    height: 500px;
    width: 400px;
}

#choosed img:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgba(117, 117, 117, 1);
    transform: scale(0.96);
}

#bookDetails {

    float: left;
    margin: 20px 10px 20px 20px;
    padding: 20px;
    width: 40%;
    height: 500px;
    
}
aside{
    float: right;
    /* border: 1px solid rgb(92, 89, 89); */
    height: 500px;
    width: 20%;
    margin: 20px 10px 0 0;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    background-color: rgb(253, 249, 205);
}
aside h3{
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 1px 5px 0px rgba(117, 117, 117, 1);
}
aside h4{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
aside #sponsor{
    margin: 50px 20px 40px 20px;
}
aside #motivation{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    vertical-align: middle;
    height: max-content;
    margin: 50% 5px;

}
aside #sponsorHead{
    font-weight: bolder;
    font-size: large;
}

#bookName {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    /* text-shadow: 0 0 2px black; */


}

#authorName {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

}

#price {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#bookDisc {
    margin-top: 100px;
    text-indent: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: large;

    /* margin-top: 325px; */
}

#submit,#read {
    /* display: block; */
    margin: 50px 20px ;
    background-color:orange;
    
    width: 150px;
    /* color: white;
    height: 50px;
    border-style: none;*/
    box-shadow: 0 0 5px black; 
    /* border: 2px solid currentColor; */
    border-radius: 20px;
    color: #14213dff;
    /* font-family: roboto; */
    font-size: large;
    font-weight: bold;
    overflow: hidden;
    padding: 15px 15px;
    /* position :relative; */
}
/* GENERAL STYLES */


.round a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.round .submit {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: -17px 0px -19px 300px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fca311ff;
    border-radius: 5px;
    transition: color .5s;
}

#submit::after {
    background-color: yellow;
    border-radius: 3rem;
    /* contenbt: ''; */
    width: 100%;
    /* display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; */
    /* transform: translate(-100%, 0), rotate(10deg); */
    transform-origin: top left;
    transition: .2s;
    transform: ease-out;
    will-change: transform;
}
.round .submit:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fca311ff;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.round .submit:hover {
    color: #fff;
}


.round .submit:before {
    left: -30px;
    bottom: 100%;
    transition: all .7s;
}

#submit:hover {
    border: 2px solid transparent;
    color: #14213dff;
    transform: scale(1.05);
    will-change: transform;

}
#read:hover {
    border: 2px solid transparent;
    color: #14213dff;
    transform: scale(1.05);
    will-change: transform;
}
.round .submit:hover:before {
    bottom: -50px;
}




#avilable {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
    background-color: #14213dff;
    box-shadow: 0 0 10px black;
}

#avilable h2 {
    font-size: large;
    font-weight: bolder;
    color: white;
    margin: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-shadow: 0 0 5px orange;
}

#recommended {
    margin-top: 20px;
    margin-bottom: 20px;
    width: max-content;
    margin: 20px auto;
    /* overflow: hidden; */
    height: 280px;


}

#recommended img {
    margin-left: 10px;
    opacity: 1;
    margin: 10px 5px;
    height: 250px;
    width: 200px;

}

#recommended img:hover {
    border-radius: 5%;
    opacity: 0.5;
}