/* header */
#headerDetail nav {
    background-color: gray;
    width: 100%;
    overflow: hidden;
}

#headerDetail img {
    float: left;
    display: block;
    margin: 20px;

}

#headerDetail h1 {
    float: left;
    margin: 33px 300px 30px 3px;
    display: block;
    text-align: center;

}

#headerDetail a {
    float: right;
    padding:20px;
    margin-top: 20px;

    margin-right: 20px;
    text-decoration: none;
    color: honeydew;
    font-weight: bolder;
}

#headerDetail a:hover {
    color: white;
    background-color: black;
}

#choosed {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#choosed img {
    margin-top: 20px;
    margin-left: 20px;
    float: left;

}

#bookDetails {

    float: left;
    margin: 20px;
    width: 50%;
}


#bookName {
    color: blueviolet;
    font-family: fantasy;
    font-size: 20px;

}

#bookDisc {

    margin-top: 325px;


}

#submit {
    display: block;
    margin-left: 24.5%;
    margin-top: 20px;
    background-color: rgba(182, 55, 38, 0.63);
    color: white;
    width: 150px;
    height: 50px;
    border-style: none;
}

#avilable {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#recommended {
    margin-top: 20px;
    margin-bottom: 20px;
}

#recommended img {
    margin-left: 5px;
}