/* body{
    background-color: rgb(209, 206, 206);

} */
main{
    font-family: 'Roboto', sans-serif;
    max-height: min-content;
}
#favorite{
    margin: 100px 33px;
    width: 95%;
    background-color: #f5f5f5;
    box-shadow: 5px 1px 10px #14213dff;
    
}
.tabhead{
    height: 80px;
    width: 1000px;
    line-height: 4;
}
/* imgs --------- */
.fav{
    width: 200px;
    height: 300px;
    margin: 50px 100px;
    box-shadow: 5px 1px 10px grey;
    border-radius: 5px;
}
/* ----------- */
.tabhead h1{
    color: #14213dff;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-left: -125px;
}
.para{
    margin: 0 -25px;
    width: 200px;
    color: #14213dff;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
#favorite tr{
    
    border-bottom:2px solid gray;
}
#favorite tr td:nth-child(2),td:nth-child(3){
    vertical-align: middle;
    text-align: center;
    text-shadow:0 0 3px gray;
    font-weight: bold;
    font-size: x-large;
    padding: 30px 100px;

}
/* ------------buttons */
.btnTd{
    background-color: #fca311ff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: -100px;
}
#myChart{
    /* margin: 80px; */
    border:3px solid black;
    /* padding: -20px; */
    /* width: 100px; */
    /* height: 50%; */
}
.btnTd:hover{
    background-color: #14213dff;
    width: 70px;
    height: 70px;
}