/************dimensions******************/
/***********header*************/
/* #divHeroImg{
    background-image: url(https://placehold.it/1024x450/ddd);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    margin: 1%;
}
#heroTitle{
    font-size: 250%;
    margin-bottom: 2%;
    width: fit-content;
}
#divHeroTitle button{
    position: relative;
    left: 25%;
    margin-top: 4%;
    width: 102.4px;
    height: 45px;
}
#divHeroTitle{
    top: 10%;
    position: relative;
    margin-left: 20%;
}*/
/* #navHeader{
background-color: gray;
}
#navHeader ul{
    display: block;
    padding: 1.5%;
    margin-left: 35%;
}
.navOptions{
    display: inline;
    padding: 1% 2%;
    background-color: greenyellow;
    margin-left: 1%;
}
.navOptions a{
    text-decoration: none;
}  */

#hero img{
    height: 500px;
}
.logo{
    padding: 8px 12px;
  position: absolute;
  top: 0;
}
#hero #logo{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 20px 25px;
}
.hero{
    max-width: 1000px;
    position: relative;
    margin: auto;     
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    width: auto;
    padding: 16px;
    margin-top: -265px;
    color: #7a7272;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.quet {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    padding-bottom: 0;
    height: 100px;
    margin: 635px 500px;
}
.content{
    background-color: #050505;
    opacity: .75;
    width: 450px;
    padding: 50px;
    margin: 80px 0;
}
.quet h1{
    color: #f5f5f5;
    font-size: 35px;
    width: 375px;
    text-align: justify;
    padding: 30px;
}
.quet p{
    color: #f5f5f5;
    font-size: 15px;
    width: 375px;
    text-align: justify;
    padding: 0px 30px 15px 30px;
}
.exLink{
    width: 200px;
    opacity: .8;
    margin: 30px 0;
    padding: 0 175px;
    margin-top: -50px;
}
.button{
    border: none;
    width: 200px;
    background-color: #050505;
    opacity: .8;
    border-radius: 10px; 
    text-align: center;
    padding: 5px;
    /* margin: 280px 0; */
}
.exLink .button a{
    color: #f5f5f5;
    font-size: 30px;
    text-decoration: none;
}
.exLink .button:hover{
    /* transition-delay: 2s;
    transition-property: background-color;
    background-color: orange; */
    background-color: #8b8b8b;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
    
}
.dots{
    text-align: center;
    margin-top: -28px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} 
.active, .dot:hover {
    background-color: #717171;
} 
.slide{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} 
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} 
/************main************/
.category{
    padding: 30px 350px;
    margin: 50px;
    background-color: #050505;
    opacity: .8;
} 
.category ul{
    padding: 0 155px;
    width: 410px;
}
.category ul li{
    display: inline-block;
    font-size: 30px;
    margin-left: 15px;
}
.category ul li a{
    color: #f5f5f5;
    text-decoration: none;
}
/* .category:hover{
    padding: 30px 330px;
}
.category ul:hover{
    padding: 0 120px;
}
.category ul li:hover{
    width: 150px;
    text-align: center;
    background-color: #f5f5f5;
    font-size: 30px;
    opacity: .8;
    color: #050505;
    border-radius: 10px;
    cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}*/
.category ul li a:hover{
    opacity: .8;
    color: #ddd;
    border-radius: 10px;
} 

#divBestBooks{
    position: relative;
    height: 350px;
    width: 50%;
    background-color: red;
    margin-top: 2%;
    left: 25%;
    overflow-y: hidden;
}
.devBestBook{
    position: relative;
    float: left;
    margin-left: 1%;
}
#divBooks{
    /* background-color: red; */
    margin-top: 2%;
    height: 1100px;
    /* overflow-y: scroll; */
    overflow: hidden;
    margin: 2%;
    
}
#divBooks:hover{
    overflow-y: scroll;
    margin: 2% 1%;
}
.divBook{
    float: left;
    margin: 1.5% 3%;
    margin-left: 47px;
}
.imgBestBook{
    float: top;
    width: 200px;
    height: 250px;
}
.bookName{
    font-size: 150%;
}
.autherName{
    font-size: 80%;
}
b{
    font-weight: bold;
}
.bookDetails{
    margin-left: 4%;
}
/*************footer*************/
/* #navFooter{
    display: flex;
    background-color: gray;
}
#divSocialMedia{
    display: flex;
    margin: 3%;
}
.socialMedia{
    margin-left: 20%;
    height: 100%;
    width: 100%;
}
#divFooterLogo{
    margin: 1%;
}
#divFooterLinks{
    margin: 3%;
    margin-left: 50%;
    width: 15%;
}
#divFooterLinks a{
    margin-left: 6%;
} */
/***********/
footer{
    background-color: black;
    opacity: .85;
    height: 180px;
}
#Footerlogo{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 20px 50px;
}
.links{
    padding: 0 665px;
    width: 188px;
    margin-top: -70px;
}
.links ul li{
    display: inline-block; margin-right: 10px;
}
.links ul li a{
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
}
.social{
    margin-top: 20px;
    padding-bottom: 20px;
}
.social ul{
    float: right;
    margin-top: -50px;
    margin-right: 50px;
}
.social ul li{
    display: inline-block;
    margin-left: 10px;
}
.social img{
    height: 30px;
    width: 30px;
}
hr{
    width: 95%;
}
footer p{
    color: #f5f5f5;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
}