/************dimensions******************/
/***********header*************/
#divHeroImg{
    background-image: url(https://placehold.it/1024x450/ddd);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    margin: 1%;
}
#heroTitle{
    font-size: 250%;
    margin-bottom: 2%;
    width: fit-content;
}
#divHeroTitle button{
    position: relative;
    left: 25%;
    margin-top: 4%;
    width: 102.4px;
    height: 45px;
}
#divHeroTitle{
    top: 10%;
    position: relative;
    margin-left: 20%;
}
#navHeader{
background-color: gray;
}
#navHeader ul{
    display: block;
    padding: 1.5%;
    margin-left: 35%;
}
.navOptions{
    display: inline;
    padding: 1% 2%;
    background-color: greenyellow;
    margin-left: 1%;
}
.navOptions a{
    text-decoration: none;
}
/************main************/
#divBestBooks{
    position: relative;
    height: 350px;
    width: 50%;
    background-color: red;
    margin-top: 2%;
    left: 25%;
    overflow-y: hidden;
}
.devBestBook{
    position: relative;
    float: left;
    margin-left: 1%;
}
#divBooks{
    background-color: red;
    margin-top: 2%;
    height: 1100px;
    overflow-y: scroll;
    
}
.divBook{
    float: left;
    margin: 1.5% 3%;
}
.imgBestBook{
    float: top;
}
.bookName{
    font-size: 150%;
}
.autherName{
    font-size: 80%;
}
b{
    font-weight: bold;
}
.bookDetails{
    margin-left: 4%;
}
/*************footer*************/
#navFooter{
    display: flex;
    background-color: gray;
}
#divSocialMedia{
    display: flex;
    margin: 3%;
}
.socialMedia{
    margin-left: 20%;
    height: 100%;
    width: 100%;
}
#divFooterLogo{
    margin: 1%;
}
#divFooterLinks{
    margin: 3%;
    margin-left: 50%;
    width: 15%;
}
#divFooterLinks a{
    margin-left: 6%;
}